[user]
    email = trano@ra726.net
    name = Alan Geleynse
[branch]
    autosetuprebase = always
[alias]
    squash = !~/scripts/git-squash.rb
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    st = status -sb
    co = checkout
    ci = commit
    br = branch
    df = diff
    who = shortlog -s --
    assume = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed = "!git ls-files -v | grep ^h | cut -c 3-"
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[push]
    default = simple
[diff]
    algorithm = patience
[color]
    branch = auto
    status = auto
    diff = auto
    ui = auto
[color "diff"]
    meta = yellow
    frag = cyan
    old = red
    new = green
[color "branch"]
    current = green reverse
    local = green
    remote = yellow
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    pager = less -FMRiX
    bare = false
[init]
	defaultBranch = main
