.aliases_local
.arduino15
.cache
.config/*
!.config/server-updates/
!.config/git/
!.config/restic/
# Only track excludes from restic, not credentials
.config/restic/env
.config/restic/password
.espressif
.factorio
.java
.local
.vscode
.vscode-oss
Arduino
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
code
esp
